target/
.git
.gitignore
.idea
.vscode
*.iml
.mvn
*.log
.env
.env.*
node_modules
dast/reports
reports
dependency-tree.txt
dependency-check-report.*
docker-image-inspect.json
docker-image-history.txt
trivy-*.json
trivy-*.txt
**/target
*.docx
*.pdf
